@{
    ViewData["Title"] = "Home Page";
}

@model Pixselio.Dto.Models.Request.LoginRequestModel
@using Microsoft.AspNetCore.Identity
@inject SignInManager<Pixselio.Entity.User> SignInManager
@inject UserManager<Pixselio.Entity.User> userManager

    <div class="text-center">
        <h1 class="display-4">Welcome To <b>PxIO</b></h1>
        @User.Identity.Name     
        @if (!SignInManager.IsSignedIn(User))
        {
            <p> If you want to see your Photo Library first you need to <a href="/Admin/Login">Login</a> or  <a href="/Admin/Register">Register</a></p>
        }
        else
        {
            <p>Welcome to your favorite website <br /> <a href="/User/Gallery">My Photos</a>  </p>
        }
    </div>

