
@{
    ViewData["Title"] = "Gallery";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model List<Pixselio.Dto.Models.PhotoModel>
<link href="~/css/gallerycss.css" rel="stylesheet" />

@if (Model.Count == 0)
{
    <div class="text-center">
        <p class="text-white">You don't have any photos yet :( <a class="text-white" href="@Url.Action("AddPhoto","User")">Clik to Add</a>  </p>
    </div>
}
else
{
    <div class="gallery">
        <ul id="lightgallery" class="list-unstyled row">
            @foreach (var photo in @Model)
            {
                <li style="margin:0px !important " class="col-xs-6 col-sm-4 col-md-3" data-responsive="img/1-375.jpg 375, img/1-480.jpg 480, img/1.jpg 800" data-src="../images/@(photo.Extension+photo.Name)" data-sub-html="<h4>PhotoBoom</h4><p>@photo.Title</p>" data-pinterest-text="Pin it1" data-tweet-text="share on twitter 1">
                    <a href="">
                        <img class="img-responsive" src="~/images/@(photo.Extension+photo.Name)" alt="Thumb-1">
                    </a>
                    <a class="text-white border-0 detail-href" href="/Detail/@photo.Id">Detail</a>
                </li>
            }
        </ul>
        <div class="text-center">
            <p> <a class="text-white" href="@Url.Action("AddPhoto","User")">Add Photo</a>  </p>
        </div>
    </div>
}



<script src="https://cdn.jsdelivr.net/picturefill/2.3.1/picturefill.min.js"></script>

@section Scripts{
    <script>
        $(document).ready(function () {
            $(".detail-href").on("click", function (e) {
                debugger;
                var href = e.target.href;
                var splt = href.split('/')
                var id = splt[4];
                location.href = "/User/Detail/" + id;
            });
        });
    </script>
    <script src="~/js/gallery-js/lightgallery.js"></script>
    <script src="~/js/gallery-js/lg-pager.js"></script>
    <script src="~/js/gallery-js/lg-autoplay.js"></script>
    <script src="~/js/gallery-js/lg-fullscreen.js"></script>
    <script src="~/js/gallery-js/lg-zoom.js"></script>
    <script src="~/js/gallery-js/lg-hash.js"></script>
    <script src="~/js/gallery-js/lg-share.js"></script>

    <script>lightGallery(document.getElementById('lightgallery'));</script>
}
